
/* Estilos generales para PC */

/* ... (otros estilos) ... */

/* Estilos específicos para dispositivos móviles */
@media (max-width: 768px) {
    /* Estilos para dispositivos móviles */

    /* Cambia el tamaño de fuente para dispositivos móviles */
    body {
        font-size: 16px;
    }

    /* Ajusta los estilos para la barra de navegación en dispositivos móviles */
    nav {
        height: 80px; /* Ajusta la altura para dispositivos móviles */
        font-size: 14px; /* Reduce el tamaño de fuente para dispositivos móviles */
    }

    /* Modifica los estilos de botones o elementos específicos en dispositivos móviles */
    .boton-arma {
        width: 150px; /* Cambia el tamaño de los botones de arma para dispositivos móviles */
    }

    /* Personaliza otros estilos para dispositivos móviles según tus necesidades */

    /* Ajusta el ancho del contenido principal */
    main {
        max-width: 100%;
        margin: 10px;
        padding: 10px;
    }

    /* Estilos específicos para la sección de Categorías */
    .categorias {
        margin-top: 10px;
    }

    .categoria {
        margin: 6px;
        width: 120px;
        height: 120px;
    }

    /* Personaliza otros estilos para dispositivos móviles según tus necesidades */

    /* Estilos para el pie de página en dispositivos móviles */
    footer {
        padding: 5px;
    }

    /* Ajusta estilos para la tabla de información del jugador en dispositivos móviles */
    .info-table {
        font-size: 12px;
    }

    /* Estilos para otros elementos específicos en dispositivos móviles */

    /* Personaliza otros estilos para dispositivos móviles según tus necesidades */
}


/* Estilos generales */
@font-face {
    font-family: 'fuenteBlackOps'; /* Asigna un nombre a tu fuente */
    src: url('fuentes/BlackOpsOne-Regular.ttf') format('woff');
    /* Agrega otros formatos si es necesario (como .ttf o .otf) */
}
body {
    font-family: Arial, sans-serif;
    margin: 0;
    background-image: url(imagenes/fondo.jpg);
    padding: 0;
    background-color: #f5f5f5;
}

/* Encabezado */
header {
    text-align: center;
}

header img {
    max-width: 100%;
    height: auto;
}

/* Barra de navegación */
/* Estilos para la barra de navegación */
nav {
    background-color: #333;
    color: #fff;
    text-align: center;
    margin-top: -20px;
    height: 50px; /* Ajusta la altura según tus preferencias */
}

/* Estilos para los elementos de la lista de navegación */
/* Estilos para la lista no ordenada (ul) */
/* Estilos para la lista no ordenada (ul) */
nav ul {
    list-style: none;
    padding: 0;
    display: flex;
    align-items: center; /* Centra verticalmente los elementos de la lista */
    justify-content: center; /* Centra horizontalmente los elementos de la lista */
    height: 100%; /* Ajusta la altura para que los elementos ocupen toda la altura de la barra */
}

/* Estilos para los elementos de la lista (li) */
nav ul li {
    margin-right: 20px;
    transition: transform 0.2s; /* Agregamos una transición para suavizar el efecto */
}

/* Estilos para los enlaces (a) dentro de los elementos de la lista */
nav a {
    font-family: 'fuenteBlackOps';
    text-decoration: none;
    color: #fff;
}

/* Estilos cuando se pasa el cursor sobre los elementos de la lista */
nav ul li:hover {
    transform: scale(1.1); /* Escala el elemento al 110% en hover */
    transition: transform 0.2s; /* Agrega una transición para suavizar el efecto de escala */
}

/* Otros estilos de hover que quieras aplicar a los enlaces (a) */
nav a:hover {
    /* Aquí puedes aplicar estilos adicionales, como cambiar el color o el fondo */
    color: #ff5733; /* Cambia el color del texto en hover */
    background-color: #333; /* Cambia el color de fondo en hover */
    border-radius: 5px; /* Agrega bordes redondeados en hover, si lo deseas */
}


/* Otros estilos para la barra de navegación y contenido principal... */


/* Contenido principal */
main {
    max-width: 1200px;
    margin: 20px auto;
    padding: 20px;
    
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

/* Sección de Skins Destacadas */
.destacado {
    
    text-align: center;
    margin-top: 20px;
    background-color: transparent !important; /* Establece el fondo como transparente */
    padding: 0; /* Quita el relleno para que no haya espacio adicional */
}

.destacado h2 {
    font-family: 'fuenteBlackOps';
    font-size: 24px;
    color: #ffffff;
}

/* Sección de Categorías */
.categorias {
    
    margin-top: 20px;
    background-color: transparent !important; /* Establece el fondo como transparente */
}

.categorias h2 {
    font-family: 'fuenteBlackOps';
    font-size: 24px;
    color: #ffffff;
}

.categoria {
    margin: 12px;
    display: inline-block;
    margin-right: 20px;
}

.boton-arma {
    font-family: 'fuenteBlackOps';
    width: 250px;
    height: 250px;
    background-size: cover;
    color: #fff;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    border-radius: 5px;
    cursor: pointer;
    transition: transform 0.2s ease-in-out, box-shadow 0.2s ease-in-out; /* Transiciones suaves */
    margin: 0 1%;
}

/* Establece un margen derecho nulo para el último botón */
.boton-arma:last-child {
    margin-right: 0;
}

/* Efecto al pasar el puntero (sombra y escala) */
.boton-arma:hover {
    transform: scale(1.05); /* Escalar el botón al 105% */
    box-shadow: 0 0 15px rgba(0, 0, 0, 8); /* Agregar una sombra */
}


.boton-arma h3 {
    font-size: 16px;
    font-weight: bold;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
}

.boton-arma:hover {
    background-color: #f9f9f9;
}

.textoPistolas{
    font-family: 'fuenteBlackOps';
    background-color: #f9f9f9;

}
/* Pie de página */
footer {
    text-align: center;
    background-color: #333;
    color: #fff;
    padding: 10px;
}
/* Estilos para las skins */
.skin-item {
    cursor: pointer;
    transition: transform 0.2s ease-in-out, box-shadow 0.2s ease-in-out; /* Transiciones suaves */
    margin: 0 1%;
    border-radius: 28px;
    border: 1px solid #ccc;
    margin: 10px;
    padding: 10px;
    display: inline-block;
    width: 200px;
    text-align: center;
    background-color: #f9f9f9;
}

.skin-item:hover{
    transform: scale(1.05); /* Escalar el botón al 105% */
    box-shadow: 0 0 15px rgba(0, 0, 0, 8); /* Agregar una sombra */
}

.skin-item img {
    max-width: 100%;
}

/* Otros estilos de la página (puedes personalizarlos) */
body {
    font-family: Arial, sans-serif;
}

.pistolas {
    text-align: center;
}

/* Agrega más estilos según tus preferencias */
/* Estilo para los nombres de los agentes */
.agents-list h3 {
    color: white; /* Cambia el color del texto a blanco */
}

/* Estilo para la descripción de los agentes */
.agents-list p {
    color: white; /* Cambia el color del texto a blanco */
}

/* Agrega más estilos según tus preferencias */
/* Estilo para los nombres de los agentes */
.stickers-list h3 {
    color: white; /* Cambia el color del texto a blanco */
}

/* Estilo para la descripción de los agentes */
.stickers-list p {
    color: transparent; /* Cambia el color del texto a blanco */
}


.popup {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.97);
    text-align: center;
}

#popup-image {
    max-width: 100%;
    max-height: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
#magnifier {
    position: absolute;
    width: 300px; /* Ajusta el tamaño de la lupa según tus preferencias */
    height: 300px; /* Ajusta el tamaño de la lupa según tus preferencias */
    border: 1px solid #000;
    background-color: rgba(255, 255, 255, 0.8);
    pointer-events: none; /* Evita que la lupa bloquee la interacción del usuario */
    z-index: 2;
}

/* Estilos para el menú de mirillas */
.mirillas-menu {
    background-color: #444;
    color: white;
    width: 250px;
    padding: 1rem;
}

.mirillas-menu h2 {
    font-size: 1.2rem;
    margin-bottom: 1rem;
}

.mirillas-menu ul {
    list-style: none;
    padding: 0;
}

.mirillas-menu li {
    margin-bottom: 0.5rem;
}

.mirillas-menu a {
    text-decoration: none;
    color: white;
}
.jugadores {
    color: white;
}

.mirilla-container {
    background-color: #f0f0f0; /* Fondo gris */
    border-radius: 10px; /* Bordes redondeados */
    padding: 10px; /* Espaciado interno */
    margin: 10px; /* Espaciado externo */
}
.CROSSHAIR{
    color: #ffff;
    text-align: center; 
    font-size: 70px; 
    font-family: 'fuenteBlackOps';
}

/* Estilos para la tabla de información del jugador */
.info-table {
    width: 100%;
    border-collapse: collapse; /* Elimina el espacio entre las celdas */
}
.info-row {
    display: flex;
    justify-content: space-between;
    border-top: 1px solid #000; /* Línea superior */
}
.info-row td {
    padding: 10px; /* Espaciado interno */
}
.info-row .header {
    font-weight: bold; /* Texto en negrita */
    background-color: #ff3232; /* Fondo de color para las celdas de encabezado */
}